<header>
    <div class="secondary-navbar">
        <a [routerLink]="['/']">
            <img src="/assets/image/logo-no-background.png" alt="Logo" width="200px">
        </a>
        <ul class="nav-menu">
            <li><a [routerLink]="['/sale']">Продажа</a></li>
            <li><a [routerLink]="['/rent']">Аренда</a></li>
            <li><a>Подать объявление</a></li>
        </ul>
        
    </div>
    <div class="primary-navbar">
        <ul class="nav-menu">
            <li><a>Избранное</a></li>
            <li><a>Регистрация</a></li>
            <li><a>Личный кабинет</a></li>
        </ul>
    </div>
</header>