<!-- TODO: change on dploy -->
<div class="selected" *ngIf="categorySelected"> 

        
    <br>
    
    <div class="sell-nav">
        Сдать в аренду > {{ this.selectedSubcategory.displayed_name }}

        <button class="change" (click)="resetCategory()">Изменить</button>
    </div>
    
    <br>
    <br>
    
    <form action="" class="form">
        
        <div class="group">
            <div class="label-wrapper">
                <label for="live_rooms">Количество комнат</label>
            </div>
            
            <div class="input-wrapper">
                <input type="number" id="live_rooms" name="live_rooms">
            </div>
        </div>  
        
        
        <div class="group">
            <div class="label-wrapper">
                <label for="rent_duration"> Период аренды </label>
            </div>
            
            <div class="input-wrapper">
                <select name="rent_duration" id="rent_duration">
                    <option value="Помесячно"> Помесячно </option>        
                    <option value="Посуточно"> Посуточно </option>
                    <option value="По часам"> По часам </option>
                </select>
            </div> 
        </div>

        
        <div class="group">
            <div class="label-wrapper">
                <label for="price">Цена</label>
            </div>
            
            <div class="input-wrapper">
                <input type="tel" min="500000" aftertext="tenge" id="price" name="price" placeholder="Например, 12 000 〒">
                <span> тенге </span>
            </div>
        </div>        
        
        
        <div class="group">
            <div class="label-wrapper">
                <label for="flat-floor"> Этаж </label>
            </div>
            <div class="input-wrapper">
                <input type="number" name="flat-floor" id="flat-floor">
                <span> из </span>
                <input type="number" name="flat-floor-total" id="flat-floor-total">
            </div>
        </div>


        <div class="group">

            <label class="label-wrapper" for="live-sqare">
                Площадь, м²
            </label>

            <div class="label-over">
                <div class="label-wrapper">
                    <label for="live-sqare_g"> Общая </label>
                </div>
                
                <div class="input-wrapper">
                    <input type="number" name="live-sqare_g" id="live-sqare_g">
                </div>
            </div>

            <div class="label-over">
                <div class="label-wrapper">
                    <label for="live-sqare_l"> Жилая </label>
                </div>
                
                <div class="input-wrapper">
                    <input type="number" name="live-sqare_l" id="live-sqare_l">
                </div>
            </div>
        

            <div class="label-over">
                <div class="label-wrapper">
                    <label for="live-sqare_k"> Кухня </label>
                </div>
                
                <div class="input-wrapper">
                    <input type="number" name="live-sqare_k" id="live-sqare_k">
                </div>
            </div>

        </div>
        
        
        <hr>
        
        <h2>Расположение</h2>
        
        <div class="location">
            <select name="cities" id="cities" multiple="multiple">
                <option value="1">
                    Алматы
                </option>
            </select>
            
            <select name="districts" id="districts" multiple="multiple">
                <option *ngFor="let d of districts" value="{{d.district}}" (click)="loadSubDists(d)">
                    {{d.district_name}}
                </option>
            </select>
            
            <select multiple="multiple" *ngIf="this.districtSelected" name="subdistricts" id="subdistricts">
                <option *ngFor="let sd of subdistricts" value="{{sd}}" (click)="this.selectedSubdistrict = sd">
                    {{sd}}
                </option>
            </select>
            
        </div>

        <div class="group">
            <div class="label-over">
                <div class="label-wrapper">
                    <label for="street_subdist">
                        Улица или микрорайон
                    </label>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="street_subdist" id="street_subdist" value="{{selectedSubdistrict}}">
                </div>
            </div>

            <div class="label-over">
                <div class="label-wrapper">
                    <label for="street_subdist"> № дома </label>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="street_subdist" id="street_subdist">
                </div>
            </div>
        </div>
        

        <hr>
        <br>

        <div class="group">       
            <div class="label-wrapper">
                <label for="description"> Текст объявления </label>
            </div>
            <div class="input-wrapper">
                <textarea name="description" id="description" maxlength="2000" cols="120" rows="10"></textarea>
            </div>
        </div>

    </form>


    <h2> Фотографии </h2>
    <p> Объявление с фотографиями получает в 5 раз больше просмотров </p>

    <input type="file" (change)="onImageSelected($event)" accept="image/*">
    <button (click)="upload()">Upload Image</button>

    <div class="images">
        @for (image of imagesUrl; track image) {
            <img  [src]="image" alt="Uploaded Image">
        }
    </div>


    <div class="drag-drop-area" [class.uploading]="uploading" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <p>Перетащите фото сюда</p>
    </div>



</div>