<div class="listing-container">
    <app-search></app-search>
    <div *ngIf="loaded" class="property-block">
        <div *ngFor="let listing of listings" class="property-item">
            <a>
                <div class="property-details">
                    <img [src]="listing.property.main_img">
                    <div class="property-info">
                        <h3>{{ listing.property.title }}</h3>
                        <p>Price: {{ listing.property.price }}</p>
                    </div>
                    
                </div>
            </a>
        </div>
    </div>  
    <div *ngIf="!loaded" class="loading-message">
        Loading...
    </div>
</div>
