<footer>
    <div class="footer-row">
        <div class="footer-column">
            <span>© 2024 «Shanyraq»</span>
            <a href="#">Пользовательское соглашение</a>
            <a href="#">Карта сайта</a>
            <a href="#">Правильное размещение объявление</a>
        </div>
        <div class="footer-column">
            <a href="#">Информация о сайте</a>
            <a href="#">Написать в службу заботы</a>
            <a href="#">Работа в "Shanyraq"</a>
        </div>
        <div class="footer-column">
            <a href="#">Личный кабинет</a>
            <a href="#">Подать объявление</a>
        </div>
        <div class="footer-column">
            <a href="#">Приложение для Android и IOS</a>
            <a href="#">Мобильныя версия сайта</a>
            <a href="#">Рекламодателям посвящается  </a>
        </div>
    </div>
</footer>