* {
    font-family: "Open Sans", sans-serif;
    color: #1c1819;
}


h2 {
    color: #1c1819;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 32px;
    font-family: "Open Sans", sans-serif;
}


.main {
    width: 80%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.categories {
    float: left;
    width: 15%;  
    margin: 0px 8px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 2px;
    color: #000;
    font-size: inherit;
    line-height: inherit;
}


.btn-primary {
    padding: 10px 15px;
    font-size: 14px;
    border-top: none;
    border-color: #0059b3;
    border-right: none;
    border-left: none;
    border-radius: 8px;
    color: #fff;
    transition: background-color .2s;
    text-decoration: none;
}

.btn-blue, .btn-primary {
    border-bottom: 1px solid #0056a1;
    background-color: #1a80d9;
}

.submit-btn {
    display: flex;
    margin: auto;
    max-width: 20%;
    /* margin: 10%; */
    justify-content: center;
}

.submit-btn:hover {
    opacity: 0.9;
}


/* .top {
    display: flex;
    flex-direction: row;
}

.left-top {
    float: left;
}

.right-top {
    float: right;
} */


.ad {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-top: 8px; 
    margin-bottom: 8px;
}


button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-color: white;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
}


#sel-cat {
    font-size: 14px;
    padding: 0px 16px 0px 0px;
}


.hint-box {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    float: right;
    padding-left: 1%;
    width: 23%;
    border-left: 4px solid #ffc726;
}


.sell-nav {
    width: 60%;
    padding: 0.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}


.sub-categories {
    width: 25%;
}

li {
    margin-left: -10%;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: 2%;
}

.label-wrapper {
    float: left;
    width: fit-content;
    min-width: 20%;
    height: 20%;
    margin-bottom: 10px;
}

.input-wrapper {
    margin-right: 10px;
}

.form {
    margin-left: 0;
    padding-left: 0;
}

form {
    margin-left: 0;
    padding-left: 0;
    width: 80%;
}

.group {
    margin-left: 0;
    padding-left: 0;
    /* display:flexbox; */
}


select {
    height: 32px;
    /* height:inherit; */
    border-radius: 5px;
    border-color: #d2d1d1;
    font-size: 14px;
    padding: 0px 32px 0px 8px;

}

.location select {
    height: 310px;
    width: 20%;
    box-shadow: 0 0 0 1px rgba(28,24,25,.2)!important;
}

select:focus {
    outline: none;
    border-color: #2a81dd;
}

input {
    font-size: 14px;
    height: 32px;
    border: 1px solid #d2d1d1;
    border-color: #d2d1d1;
    border-radius: 5px;
    padding: 0px 8px;
}

textarea:focus, input:focus {
    outline: none;
    border-color: #2a81dd;
}


.change {
    float: right;
    color: #2a81dd;
    border-bottom: 1px dotted #2a81dd;
    text-decoration: none;

}


.label-over {
    display:flex;
    flex-direction: column;
}




/* image uploader */


/* :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
  }
   */
  .drag-drop-area {
    border: 2px dashed #ccc;
    padding: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .upload-area {
    padding: 1rem;
  }
  
  .uploading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .uploading::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .drag-drop-area p {
    margin: 0;
  }
  
  .drag-drop-area:hover {
    background-color: #f2f2f2;
  }
  
  .images {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .images > img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
  }


textarea {
    height: 170px;
    max-width: 540px;
    min-height: 82px;
    max-height: 200px;
    padding: 8px;
    line-height: 24px;
    box-sizing: border-box;
    resize: none;
}

label:checked {
    color: aqua ;
}

.checkbox-label {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10%;
    align-content: center;
    align-items: center;
    /* vertical-align:auto; */
}


.checkbox-label-cloumn {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
}